<?xml version="1.0"?>
<robot name="cup_$(arg prefix)" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="cup_$(arg prefix)_base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/White</material>
  </gazebo>

  <link name="cup_$(arg prefix)_base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://nucobot_description/meshes/toys/cup.dae"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://nucobot_description/meshes/toys/cup.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-4" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
</robot>
