<launch>
  <!-- cylinders -->
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cylinder.launch">
    <arg name="prefix"   value="_0"/>                         <!-- the cylinder name is cylinder_$(prefix) -->
    <arg name="position" value="-x 0.200 -y 0.090 -z 0.04"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cylinder.launch">
    <arg name="prefix"   value="_1"/>                         <!-- the cylinder name is cylinder_$(prefix) -->
    <arg name="position" value="-x 0.200 -y 0.850 -z 0.04"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cylinder.launch">
    <arg name="prefix"   value="_2"/>                         <!-- the cylinder name is cylinder_$(prefix) -->
    <arg name="position" value="-x 0.200 -y 2.150 -z 0.04"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cylinder.launch">
    <arg name="prefix"   value="_3"/>                         <!-- the cylinder name is cylinder_$(prefix) -->
    <arg name="position" value="-x 0.200 -y 2.910 -z 0.04"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>

  <!-- cups -->
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cup.launch">
    <arg name="prefix"   value="_0"/>                         <!-- the cup name is cup_$(prefix) -->
    <arg name="position" value="-x 0.830 -y 0.910 -z 0.01"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cup.launch">
    <arg name="prefix"   value="_1"/>                         <!-- the cup name is cup_$(prefix) -->
    <arg name="position" value="-x 0.830 -y 2.090 -z 0.01"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include> 
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cup.launch">
    <arg name="prefix"   value="_2"/>                         <!-- the cup name is cup_$(prefix) -->
    <arg name="position" value="-x 1.650 -y 1.500 -z 0.01"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cup.launch">
    <arg name="prefix"   value="_3"/>                         <!-- the cup name is cup_$(prefix) -->
    <arg name="position" value="-x 1.750 -y 0.250 -z 0.01"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_cup.launch">
    <arg name="prefix"   value="_4"/>                         <!-- the cup name is cup_$(prefix) -->
    <arg name="position" value="-x 1.750 -y 2.750 -z 0.01"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>

  <!-- tennis balls -->
  <include file="$(find nucobot_gazebo)/launch/include/spawn_tennis_ball.launch">
    <arg name="prefix"   value="_0"/>                         <!-- the tennis ball name is tennis_ball_$(prefix) -->
    <arg name="position" value="-x  1.000 -y 0.035 -z 0.04"/> <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_tennis_ball.launch">
    <arg name="prefix"   value="_1"/>                         <!-- the tennis ball name is tennis_ball_$(prefix) -->
    <arg name="position" value="-x  1.000 -y 2.965 -z 0.04"/> <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>

  <!-- pop corn balls -->
  <include file="$(find nucobot_gazebo)/launch/include/spawn_pop_corn_ball.launch">
    <arg name="prefix"   value="_0"/>                         <!-- the pop corn ball name is pop_corn_ball_$(prefix) -->
    <arg name="position" value="-x 0.035 -y 0.300 -z 0.30"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_pop_corn_ball.launch">
    <arg name="prefix"   value="_1"/>                         <!-- the pop corn ball name is pop_corn_ball_$(prefix) -->
    <arg name="position" value="-x 0.035 -y 0.600 -z 0.30"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_pop_corn_ball.launch">
    <arg name="prefix"   value="_2"/>                         <!-- the pop corn ball name is pop_corn_ball_$(prefix) -->
    <arg name="position" value="-x 0.035 -y 2.400 -z 0.30"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>
  <include file="$(find nucobot_gazebo)/launch/include/spawn_pop_corn_ball.launch">
    <arg name="prefix"   value="_3"/>                         <!-- the pop corn ball name is pop_corn_ball_$(prefix) -->
    <arg name="position" value="-x 0.035 -y 2.700 -z 0.30"/>  <!-- position in meters -x 0.0 -y 0.0 -z 0.0 -->
  </include>

</launch>
