<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="x" default="1.000"/>
  <arg name="y" default="0.250"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find nucobot_description)/urdf/nucobot-2/nucobot.urdf.xacro'" />
  <node name="nucobot_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model nucobot -param robot_description -x $(arg x) -y $(arg y) -z 0.2 -R 0.0 -P 0.0 -Y 1.57"/>

  <!-- load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nucobot_control)/config/joint_position_control.yaml" command="load" />
  <!-- load the controllers -->
  <node name="nucobot_controller" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller" />

  <!-- publish all the frames to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="50"/> <!-- Hz -->
  </node>
  
    <!-- source that publishes the joint positions as a sensor_msgs/JointState -->
  <param name="use_gui" value="false"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
