<launch>
  <!-- start Rviz -->
  <include file="$(find nucobot_description)/launch/nucobot_rviz.launch"/>
  
  <!-- start processing nodes-->
  <!-- fake map for navigation-->
  <node pkg="fake_towermap" name="fake_towermap" type="fake_towermap" output="screen" required="true"/>

  <!-- start Gazebo -->
  <include file="$(find nucobot_gazebo)/launch/nucobot_world.launch">
    <arg name="paused"        value="false"/>
    <arg name="use_sim_time"  value="true"/>
    <arg name="gui"           value="true"/>
    <arg name="headless"      value="false"/>
    <arg name="debug"         value="false"/>
  </include>
</launch>            
