<launch>
  <arg name="odom_topic" default="odom" />
  <arg name="vel_topic" default="cmd_vel" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find nucobot_2dnav)/maps/eurobot_arena.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/world"/>
  </node>

  <!--- Run AMCL -->
  <!--include file="$(find amcl)/examples/amcl_omni.launch" /-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nucobot_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nucobot_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nucobot_2dnav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nucobot_2dnav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nucobot_2dnav)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find nucobot_2dnav)/param/move_base_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
