<?xml version="1.0"?>

<robot name="pikea" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.1415926535897931" />
 
  <!-- The body -->
  <xacro:include filename="$(find nucobot_description)/pikea/urdf/pikea_base.urdf.xacro" />
  <xacro:pikea_base_macro wheel_h="-0.08"/>

  <!-- Gripper(s) -->
  <xacro:include filename="$(find nucobot_description)/pikea/urdf/pikea_gripper.urdf.xacro" />
  <xacro:gripper name="gripper_1" parent="base_link" ros_topic="gripper1">
     <origin xyz="0.1 0.1 0.1" rpy="0 0 0"/>
  </xacro:gripper>
</robot>
