<launch>
  <!--arg name="x" default="1.000"/-->

  <node name="mice" pkg="odometry_driver_optical" type="mice.py" output="screen" respawn="false">
    <!--param name="publish_frequency" value="50"/-->
  </node>
  <node name="mice_hi" pkg="odometry_driver_optical" type="odometry_opt_hw2ros_driver" output="screen" respawn="false">
    <!--param name="publish_frequency" value="50"/-->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find odometry_driver_optical)/launch/optical_odometry_test.rviz"/>
</launch>
