<?xml version="1.0" ?>
<robot name="nucobot">
  <joint name="nucobot__left_front_wheel_hinge" type="fixed">
    <parent link="nucobot__chassis"/>
    <child link="nucobot__left_front_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="0.09999  0.14499  0.04999"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="nucobot__right_front_wheel_hinge" type="fixed">
    <parent link="nucobot__chassis"/>
    <child link="nucobot__right_front_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="0.1     -0.14499  0.05"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="nucobot__left_back_wheel_hinge" type="fixed">
    <parent link="nucobot__chassis"/>
    <child link="nucobot__left_back_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="-0.1      0.14499  0.04999"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="nucobot__right_back_wheel_hinge" type="fixed">
    <parent link="nucobot__chassis"/>
    <child link="nucobot__right_back_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="-0.09999 -0.14499  0.05"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <link name="nucobot__chassis">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0   0   0.1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="nucobot__collision">
      <origin rpy="0  0  0" xyz="0   0   0.1"/>
      <geometry>
        <box size=".25 .3 .1"/>
      </geometry>
    </collision>
    <visual name="nucobot__visual">
      <origin rpy="0  0  0" xyz="0   0   0.1"/>
      <geometry>
        <box size=".25 .3 .1"/>
      </geometry>
    </visual>
  </link>
  <link name="nucobot__left_front_wheel">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="nucobot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </collision>
    <visual name="nucobot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </visual>
  </link>
  <link name="nucobot__right_front_wheel">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="nucobot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </collision>
    <visual name="nucobot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </visual>
  </link>
  <link name="nucobot__left_back_wheel">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="nucobot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </collision>
    <visual name="nucobot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </visual>
  </link>
  <link name="nucobot__right_back_wheel">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="nucobot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </collision>
    <visual name="nucobot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".05" radius=".05"/>
      </geometry>
    </visual>
  </link>
</robot>
